.contenchild{
    color: rgb(77, 20, 20);
} 
.Judul{
    color: white;
    font-style: italic;
    font-size: 14pt;
}
.Keterangan{
    color: white;
    transition: 1s;
}
.Keterangan:hover{

    font-style: italic;
    cursor: pointer;
}
