.imagepart4{
    width: 100%;
    border-radius: 20px;
   
}
.imagepart2{
    font-size: +12;
    color: rgb(0, 0, 0);
   
}
.imagepart3{
  border-radius: 30px;
  justify-self: center;
}
.gambarpart{
    border-radius: 30px;
    width: 400px;
}

.imagepart1{
    font-family: Nunito;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: auto;
    
}
.imagerpartjudul{
    color: rgb(77, 20, 20);
    font-size: 24pt;
}
.imagepartjenis{
    color: rgb(5, 14, 26);
    font-size: 20pt;
}
.imageparttombol{
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px;
    background: rgb(77, 20, 20);
    color: white;
    
}
.imageparttombol:hover{
    background: black;
   
}