@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
.header1{
    /* border: 1px solid red; */
    height: 100vh;
    background-size: cover;
    color: rgb(59, 59, 59);
    font-family: 'Nunito Sans', sans-serif;
    transition: opacity 2s;
    /* tentang grid */
    display: grid;
    grid-template-rows: 50px auto;
}
.header2{
    /* border: 1px solid red; */
    background: rgba(13, 84, 177, 0.4);
    display: grid;
    grid-template-columns: 30% auto 400px;
   
}
.header3{
    /* border: 1px solid green; */
    display: grid;
    grid-template-rows: auto 100px;
    background: rgba(0, 195, 255,0.4);
}
.header4{
    /* border: 1px solid aqua; */
    display: grid;
    grid-template-columns: 70% 30%;
}
.header5{
    /* border: 1px solid lightpink; */
    justify-self: center;
}
.header6{
    /* border: 1px solid lightseagreen; */
    text-align: center;
    padding: 30px;
    align-self: center;
}
.header7{
    border: 1px solid aliceblue;
    align-self: center;
}
.header8{
    justify-self: center;
    align-self: center;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
}
.header9{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-self: center;
    cursor: pointer;
}
.gambar{
    width: 100%;
}
h2{
    text-align: left;
}
.header10{
    align-self: center;
}
.tombol{
    background: white;
    padding: 10px;
    border-radius: 20px;
    transition: 1s;

}
.tombol:hover{
    background: yellow;
}

@media only screen and (max-width: 600px) {
    body::after{
        content: "Website ini masih dalam tahap development jadi jangan buka di hp harus dibuka di laptop atau komputer. pesan ini langsung dari Depanri purba web developer Gorga Project";
        height: 100vh;
        background: black;
        color: white;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
    }
  }