@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
.header1{
    height: 100vh;
    background-size: cover;
    font-family: 'Nunito Sans', sans-serif;
    transition: opacity 2s;
    /* tentang grid */
    display: grid;
    grid-template-rows: 50px auto;
}
.header2{
    /* border: 1px solid red; */
    background: black;
    color: aliceblue;
    display: grid;
    grid-template-columns: 30% auto 400px;
   
}
.header3{
    display: grid;
    grid-template-rows: auto;
    background: rgb(77, 20, 20);
}
.header4{
    /* border: 1px solid aqua; */
    display: grid;
    grid-template-columns: 70% 30%;
}
.judul-header{
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 20pt;
}

.header6{
    /* border: 1px solid lightseagreen; */
    text-align: center;
    padding: 30px;
    align-self: top;
}
.header-menu{
    position: absolute;
    display: none;
    z-index: 999;
    line-height: 23pt;
    margin-top: 0px;
}
.header-menu span{
    color: black;
    background: white;
    padding: 10px;

}
.header-menu span:hover{
    background: black;
    color: white;
    transition: 1s;
}
.header7{
    align-self: top;
}
.header8{
    justify-self: center;
    align-self: center;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
}
.header9{
    display: grid;
    grid-template-columns: repeat(4,1fr);

    cursor: pointer;
}
.dop-down{
    position: absolute;
    top: 12px;
}
.header9 .sub-menu{
    text-align: center;
    line-height: 40px;
}
.header-kontak{
    width: 200px;
    color: black;
    padding-left: 21px;
    padding-right: 21px;
}
.header9 .sub-menu:hover{
    background: white;
    color: black;
}
.header9 .sub-menu:hover .header-menu{
    display: grid;
}
.gambar{
    width: 100%;
}
h2{
    text-align: left;
}
.header-kontak:hover{
    color: white;
}
.header10{
    align-self: center;
    justify-self: center;
}
.tombol{
    background: white;
    padding: 10px;
    border-radius: 20px;
    transition: 1s;

}
.tombol:hover{
    background: yellow;
}

@media only screen and (max-width: 600px) {
    body::after{
        content: "Website ini masih dalam tahap development jadi jangan buka di hp harus dibuka di laptop atau komputer. jangan keras kepala ya, namun jika memang harus dari hp, langkah pertama yang harus dilakukan adalah membuat hp menjadi lanscape lalu pada setelan aktifkan situs dekstop. nanti kalo udah di buat versi mobilenya pasti dikabari ya  pesan ini langsung dari Depanri purba web developer Gorga Project";
        height: 100vh;
        background: black;
        color: white;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
    }
  }