.ourteam1{
    font-family: Nunito;
}
.ourteam2{
    text-align: center;
    font-style: italic;
    color: rgb(47, 182, 216);
}
.ourteam3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    padding: 30px;
    background: blanchedalmond;
}
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
}
