.image1{
    margin-top: 40px;
    display: grid;
    
}
.image2{
    text-align: center;
    font-family: Nunito;
}
.image3{
    display: grid;
    grid-template-columns: repeat(auto-fit,1fr);
    grid-gap: 70px;
    margin: 30px;
}
.fragmentimage{
    background: rgb(214, 217, 248);
}
.imageroot{
   
}
  